@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-text-dark: #203253;
  --color-text-medium: #335d93;
  --color-icons: #72b3ea;
  --color-blocks: #f4faff;
  --color-subblocks: #e6f1fa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1320px;
}

/* MEDIA */

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 95%;
  }
}
