:root {
    --color-text-dark: #203253;
    --color-text-medium: #335D93;
    --color-icons: #72B3EA;
    --color-blocks: #F4FAFF;
    --color-subblocks: #E6F1FA;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}