:root {
  --color-text-dark: #203253;
  --color-text-medium: #335d93;
  --color-blocks: #f4faff;
  --color-subblocks: #e6f1fa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
